@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Amatic+SC:wght@700&family=Anek+Gujarati:wght@700&family=Baloo+Da+2:wght@559&family=Barlow&family=Barlow+Condensed&family=Bebas+Neue&family=Berkshire+Swash&family=Bree+Serif&family=Dancing+Script&family=Francois+One&family=Montserrat:wght@600&family=Mulish:wght@500&family=Nanum+Myeongjo:wght@700&family=Nunito:wght@600&family=Orelega+One&family=Oswald&family=PT+Sans+Caption&family=PT+Serif&family=Padauk:wght@700&family=Passion+One:wght@700&family=Pontano+Sans&family=Poppins:wght@400;500;700&family=Pragati+Narrow&family=Prata&family=Roboto+Condensed&family=Roboto:wght@100;300;700&family=Rubik+Microbe&family=Rubik+Moonrocks&family=Saira:wght@600&family=Send+Flowers&family=Signika+Negative:wght@300;400&family=Space+Grotesk:wght@500&family=Space+Mono&family=Work+Sans:wght@600&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height:100%;
}

#nav{
    position: fixed;
    width:100vw;
    height:9vh;
    z-index: 9999999;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 3vw;
}

#button{
    position: relative;
    width:7vw;
    height:4vh;
    margin-left: 72vw;
    border-radius: 100px;
    background-color: rgb(255, 255, 74);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
   font-family: 'Mulish', sans-serif;
    font-weight: 500;
    overflow: hidden;
}

#button:hover .opening2{
    cursor: pointer;
    height:100%;
    background-color: #000;

}

#button h5{
    z-index: 9999999999;
} 

#button:hover h5{
    color:#fff;
}

#nav i{
    color:#fff;
    font-size: 2vw;
    margin-left: 1vw;
    
}


#main{    
    background-color: #000;
    overflow-x: hidden;
   font-family: 'Mulish', sans-serif;
    position: relative;
}

#main::-webkit-scrollbar{
    display: none;
}

#hero{
    width:100vw;
   min-height:65vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rowtxts{
    font-size: 6vw;
    font-weight: 400;
    /* margin-left:2vw ; */
}





/*.textwrapper span{
    display: inline-block;
    font-size: 2.5vw;
    margin-left: 20px;
}

.textwrapper span:nth-child(1){
    margin-left: 0;
}

.textwrapper {
    width: fit-content;
    overflow: hidden;
   
}*/

.row{
    width:95vw;
    margin-left: 20px;
    color: #fff;
    font-weight: 100;
    display: flex;
    align-items: center;
}

.row:nth-child(3) {
    justify-content: flex-end;
}

 #line{
    width:50vw;
    height:1px;
    background-color: #fff;
    display: inline-block;
    margin: 20px 20px;
 }

 #hero p{
    color: #fff;
   position: absolute;
   bottom:5%;
   right:3%;
   font-size: 1vw;
   display: flex;
 }

 p>i{
    font-size: 1.5vw;
    margin-left: 10px;
 }

#downdiv{
    position: relative;
    margin-top: 65vh;
    width:100vw;
    background-color: #000;
    z-index: 9999;
}

#video
{
    width:100vw;
    height:100vh;
    background-color: #fff;

}

#video1{
    width:100vw;
    height:100vh;
    object-fit: cover;
    object-position: center;
}

#orbital{
    width:100vw;
    height:100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}

#orbital>h1{
    font-size: 3vw;
    font-weight: 400;
    text-align: left;
}

#wecall{
    width: 100%;
    /* height:100vh; */
    color: #fff;
    display: flex;
    flex-direction: column;
}

#wecall h1{
    font-size: 23vw;
    font-weight: 400;
}

#wecall>h2{
    margin-left: 30px;
    font-size: 2.5vw;
    font-weight: 400;
}

#line2{
    width:82vw;
    height:1px;
    background-color: #fff;
    display: inline-block;
    margin-left: 15px;
}

.rowtxt{
    margin-top: 90px;
    margin-left: 5vw;
    width:100%;
    font-size: 22vw;
    line-height: 260px;
    display: flex;
    align-items: center;
}

#wecall .rowtxt:nth-child(3){
    display: flex;
    align-items: center;
}

.rowtxt button{
    width :11vw;
    height:6vh;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    font-size: 1.2vw;
    margin-left: 40px;
   font-family: 'Mulish', sans-serif;
}

#orbitalvideo{
    width:100%;
    height:130vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video2{
    object-fit: cover;
    object-position: center;
    width:70%;
    height:90%;
    margin-top: 90px;

}

#slide{
    width:100%;
    height:100vh;
    background-color: #000;
    border-top: 1px solid #444 ;
    display: flex;
}

.slides{
    width:calc(100%/4);
    height: 100%;
    border-right: 1px solid #444;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.tile{
    width:100%;
    color: #fff;
    padding:30px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99999;
}

.tile h3{
    font-size: 3.5vw;
    font-weight: 300;
   
}

#icondiv{
    position: relative;
    width:2.5vw;
    height:2.5vw;
    border:1.5px solid #444;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    overflow: hidden;
}

#icondiv .icon1 i{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#icondiv .icon2 i{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.icon2 i{
    position: absolute;
    top:100%;
    left:-10%;

}

#info{
    color :#000;
    position: absolute;
    bottom: -5%;
    margin-left: 35px;
    font-size: 1vw;
    font-weight: 500;
    opacity: 0;
}

.opening{
    pointer-events: none;
    position: absolute;
    height:100%;
    width:0%;
    background-color: #fff;
    left:50%;
    transform: translate(-50% , 0);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.slides:hover .icon1 i{
      margin-left:120px;
}

.slides:hover .icon2 i{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


.slides:hover .opening{
    width:100%;
}


.slides:hover .tile{
    color: #000;
}


.slides:hover #info{
    bottom:5%;
    opacity: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.shutterleft{
    pointer-events: none;
    position: absolute;
    width:50%;
    height:100%;
    left:0;
    background-color: #000;
   transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.shutterright{
    pointer-events: none;
    position: absolute;
    width:50%;
    height:100%;
    right:0;
    background-color: #000;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#vid1{
    pointer-events: none;
    position: relative;
    opacity:0;
}

#vid1 video{
    object-fit: cover;
    object-position: center;
    width:100%;
}


#vid2{
    pointer-events: none;
    position: absolute;
    width:100%;
    height:100%;
    opacity:0;
}



#vid3{
    pointer-events: none;
    position: absolute;
    width:100%;
    height:100%;
    background-color: #fff;
opacity:0;
}


#circular{
    position: absolute;
    border-radius: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#circular img{
    animation: ghumteraho 10s infinite linear;    
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

@keyframes ghumteraho{
    from{
        transform:translate(-50%,-50%)rotate(0deg);
    }
    to{
        transform:translate(-50%,-50%)rotate(359deg); 
    }
}

#circle{
    position:absolute;
    width:15px;
    height:15px;
    top:0%;
    left:0%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .7s;
    background-color: #fff;
}

#circular:hover #circle{
    cursor: pointer;
    background-color: yellow;
}

#content{
    position: relative;
    background-color: antiquewhite;
}


#startups{
    width: 100%;
    background-color:#fff;
    padding-left: 40px;
    padding-top: 230px;
   overflow-x: hidden;
}

#startups>h1{
    font-size: 4.5vw;
    font-weight: 400;
   font-family: 'Mulish', sans-serif;
}

#partner{
    position: relative;
    width:100%;
    height:45vh;
    margin-top: 10vw;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    border-bottom: .5px solid gray;
}

.partners{
    position: absolute;
    display: inline-block;
    width:25%;
    height:100%;
    padding-top: 30px;
}

.partners img{
    margin-bottom: 50px;

}

.partners p{
   font-family: 'Mulish', sans-serif;
    font-size: 1vw;

}

#partner::-webkit-scrollbar{
    display: none;
   }

#partner2{
    left:30%;
}

#partner3{
    left:60%;
}

#partner4{
    left:90%;
}

#partner5{
    left:120%;
}


#workfunction{
   position: relative;
   width:100vw;
}

#work{
    width:100vw;
    height:100vh;
    display:flex ;
    align-items: center;
   font-family: 'Mulish', sans-serif;
    background-color: #fff;
}

#work h1{
    font-size: 28vw;
    font-weight: 400;
margin-left: 70px;
}

.card{
    position: absolute;
    width:25vw;
    height:70vh;
}

#card1{
    top:100%;
    left:10%;
}

#card2{
    top:125%;
    left:40%;
}

#card3{
    top:115%;
    left:70%;
}

#texta{
    width:100%;
    font-size: 2vw;
    position: absolute;
    bottom:0;
   font-family: 'Mulish', sans-serif;
    background-color: #fff;
}


#thought{
    width:100vw;
    background-color: bisque;
    left:0;
    display: flex;
    z-index: 9999999999999999999999999;
}

#left{
    width:50vw;
    background-color: #000;
    color:#fff;
    border-right: 2px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6vw;
    z-index: 9999999999999999999999999;
}

#left h2{
    font-size: 4vw;
   font-family: 'Mulish', sans-serif;
    font-weight: 400;
}



#left p{
   font-family: 'Mulish', sans-serif;
    text-align: center;
    margin-top: 1.5vw;
    margin-bottom: 2.5vw;
}

#left input{
    width:60%;
    height:5vh;
    margin-top: 2vw;
    padding: 1vw 1vw;
    background: none;
    border: none;
    border-bottom: 1px solid #333;
    font-size: 1.2vw;
    color:#fff;
}

#left button{
    width:8vw;
    height:5vh;
    margin-top: 3vw;
    border-radius: 100px;
    background-color: #000;
    color: #fff;
   font-family: 'Mulish', sans-serif;
    border: 1px solid #fff;
    font-size: 1vw;
}

#right{
    width:50vw;
    /* height:104vh; */
    background-color: #000;
    display:flex;
    flex-direction:column ;
    padding-top: 1vw;
    z-index: 9999999999999999999999999;
}

#right a{
    position: relative;
    height:11vh;
    gap:1vw;
    color:#fff;
    text-decoration: none;
    border-bottom: 2px solid #333;
}

#right a #atext{
    position: absolute;
    margin-left: 2vw;
    margin-top: 1vw;
    font-size: 2.2vw;
   font-family: 'Mulish', sans-serif;
    font-weight: 400;
    z-index: 9999;
}

#icondiv0{
    margin-top: 2vw;
    width:100%;
    height: 7vh;
    display: flex;

}

#icondiv0 .social{
    position: relative;
    width:3vw;
    height:3vw;
    margin-left: 2vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6vw;
    border:1px solid #fff;
    color: #fff;
}

.social i{
    z-index: 99999;

}

 .opening2{
    position:absolute;
    top:50%;
    left:50%;
    height:0vh;
    transform: translate(-50%,-50%);
    width:100%;
    background-color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}

a:hover .opening2{
    height:100%;
    color: #000;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}

#right a:hover #atext{
    color:#000;
}

.social:hover .opening2{
 height:100%;
 border-radius: 50%;
 
 transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;

}

.social:hover i{
    color:#000;
}

/* responsive code */

@media (max-width : 500px) {

    body{
        background-color: #000;
    }
   
    #nav{

        padding :5vw;
        padding-right: 6vw;
    }

    #hero .row{
      margin-left: 0;

    }
#hero{
    min-height:50vh;
}


#downdiv{
    margin-top: 50vh;
}
  
#orbital{
    height: initial;
    padding: 10vh 4vw;
}

#orbital h1{
    font-size: 5vw;
}

#wecall{
    min-height:50vh;
}

#wecall h2{
    font-size: 3.5vw;
    margin-left: 5vw;
}

#wecall  #line2{
    width: 75%;
}

#wecall h1{
    font-size: 22vw;
    line-height: 4vw;
    margin-left: 1vw;
}

.rowtxt button{
    width:18vw;
    height:3vh;
    font-size: 2.2vw;
    margin-left: 0;
}

#orbitalvideo{
    height: 55vh;
}

#orbitalvideo video{
    width: 100%;
    height:100%;
}

#slide{
    height: initial;
    flex-direction: column;
}

.slides{
    height: initial;
    width: 100%;
    padding: 7vh 2vw;
    border-right: initial;
    border-bottom: 1px solid #444;
}

.slides #icondiv{
    width:5vw;
    height:5vw;
    border-radius: 50%;
}

.slides #icondiv i{
    font-size: 3vw;
}

.slides .tile h3{
    font-size: 5vw;
}

.slides #info{
    padding: 0 2vw;
     font-size: 3vw;
}

.slides:hover #info{
    padding: 0 2vw;
    bottom: 15%;
}

.slides .opening{
    width: 100%;
    height: 0;
}

.slides:hover .opening{
    height: 100%;
}

#slide #videodiv{
    display: none;
}

#startups{
    padding-top: 10vh;
}

#startups h1{
    font-size: 10vw;
}

.partner{
    padding: 8vw 0;
   
}

.partners p{
    font-size: 3.5vw;
}

.partners{
    width:50%;
    
}


#partner2{
    left:65%;
}

#partner3{
    left:130%;
}

#partner4{
    left:195%;
}

#partner5{
    left:260%
}

#work h1{
    margin-left: 8vw;
}

.card{
    width:50vw;
    height:50vh;
}

#card1{
    left:2%;
}

#card2{
    top:150%;
    left:25%;
}

#card3{
    top:250%;
    left:45%;
}

#texta{
    font-size: 5vw;
}

#thought{
    flex-direction: column;
}

#left{
    width:100vw;
}

#left h2{
    margin-top: 10vw;
    font-size: 8vw;
    margin-bottom: 5vw;
}

#left p{
  text-align: center;
  margin-left: 15vw;
  margin-right: 15vw;
  font-size: 4.5vw;
}

#left img{
    height:40vh;
    margin-top: 6vw;
}

#left input{
    height:10vh;
    width:90vw;
    font-size: 6vw;
}

#left button{
    width:40vw;
    font-size: 5vw;
    margin-top: 10vw;
    margin-bottom: 20vw;
}

#right{
    width:100vw;
    width:100vw;
}

#right a #atext{
    font-size: 7vw;
}

#icondiv0{
    height:10vh;
    margin-left: 25vw;
}

#icondiv0 .social{
    width:10vw;
    height:10vw;
    font-size: 5vw;
}

#nav #button{
    display: none;
}

#nav>i{
    font-size: 8vw;
}

}